<nav id="footer" class="navbar navbar-dark bg-dark mb-0">
  <div class="container justify-content-center">
    <span class="navbar-text text-light">
      &copy; <%= new Date().getFullYear() %> Explorer Sauvages. All rights reserved.
    </span>
  </div>
</nav>
