<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <title>Explorer Sauvages</title>
</head>
<body>
    <%- include('partials/navbar', { user: user }) %>
          <% if (user) { %>
         <form method="GET" action="/shopping" class="d-flex justify-content-center my-4">
          <input type="text" name="search" class="form-control w-50 me-2" placeholder="Search perfumes...">
          <button type="submit" class="btn btn-outline-primary">Search</button>
         </form>
        <% } %>
        </div>
      </div>
    </nav>

    <div class="container">
        <p style="text-align: center;">
            <% if (user) {%>
              <% if (user.role === "admin") { %>
                <br>
                Back to <a href="/inventory">inventory!</a>
              <% } else { %>
                <br>
                Continue <a href="/shopping">Shopping!</a>
                <% } %>
            <% } else { %>
            <br>
            Welcome to Explorer Sauvage where all your scents will find you! <br>
            Please <a href = "/login" >login</a> to continue...
            <% } %>
        </p>
    </div>
</body>
</html>
